$include /etc/inputrc

set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

set bell-style none
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set expand-tilde on
set history-preserve-point on
set mark-directories on
set mark-symlinked-directories on
set match-hidden-files off
set show-all-if-ambiguous on
set show-all-if-unmodified on
set show-mode-in-prompt on
set skip-completed-text on
set vi-cmd-mode-string :
set vi-ins-mode-string +
set visible-stats on

set editing-mode vi
set keymap vi-command
Control-x: emacs-editing-mode
Control-f: edit-and-execute-command
Control-p: history-search-backward
Control-n: history-search-forward
u: undo
set keymap vi-insert
Control-x: emacs-editing-mode
Control-f: edit-and-execute-command
Control-l: clear-screen
Control-p: history-search-backward
Control-n: history-search-forward
Control-b: beginning-of-line
Control-a: beginning-of-line
Control-e: end-of-line
Control-w: backward-kill-line
set keymap emacs
Control-e: vi-editing-mode
