[submodule "neofetch/neofetch"]
	path = neofetch/neofetch
	url = https://github.com/dylanaraps/neofetch.git
[submodule "vim/.vim/pack/bundle/start/targets.vim"]
	path = vim/.vim/pack/bundle/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/.vim/pack/bundle/start/vim-fugitive"]
	path = vim/.vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/pack/bundle/start/unicode.vim"]
	path = vim/.vim/pack/bundle/start/unicode.vim
	url = https://github.com/chrisbra/unicode.vim
[submodule "vim/.vim/pack/bundle/start/vim-signify"]
	path = vim/.vim/pack/bundle/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/.vim/pack/bundle/start/lightline.vim"]
	path = vim/.vim/pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/pack/bundle/start/editorconfig-vim"]
	path = vim/.vim/pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/.vim/pack/bundle/start/vim-toml"]
	path = vim/.vim/pack/bundle/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "vim/.vim/pack/bundle/start/vim-haskell-indent"]
	path = vim/.vim/pack/bundle/start/vim-haskell-indent
	url = https://github.com/itchyny/vim-haskell-indent
[submodule "vim/.vim/pack/bundle/start/vim-pandoc"]
	path = vim/.vim/pack/bundle/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "vim/.vim/pack/bundle/start/vim-pandoc-syntax"]
	path = vim/.vim/pack/bundle/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "vim/.vim/pack/bundle/start/vim-vagrant"]
	path = vim/.vim/pack/bundle/start/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant
[submodule "vim/.vim/pack/bundle/start/rust.vim"]
	path = vim/.vim/pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/pack/bundle/start/delimitMate"]
	path = vim/.vim/pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/.vim/pack/bundle/start/tcomment_vim"]
	path = vim/.vim/pack/bundle/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim/.vim/pack/bundle/start/vim-lion"]
	path = vim/.vim/pack/bundle/start/vim-lion
	url = https://github.com/tommcdo/vim-lion
[submodule "vim/.vim/pack/bundle/start/ale"]
	path = vim/.vim/pack/bundle/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/.vim/pack/bundle/start/ListToggle"]
	path = vim/.vim/pack/bundle/start/ListToggle
	url = https://github.com/Valloric/ListToggle.git
[submodule "vim/.vim/pack/bundle/start/vim-repeat"]
	path = vim/.vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/bundle/start/vim-tmux"]
	path = vim/.vim/pack/bundle/start/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "vim/.vim/pack/bundle/start/vim-sandwich"]
	path = vim/.vim/pack/bundle/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "vim/.vim/pack/bundle/start/async.vim"]
	path = vim/.vim/pack/bundle/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "vim/.vim/pack/bundle/start/vim-lsp"]
	path = vim/.vim/pack/bundle/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/.vim/pack/bundle/start/asyncomplete.vim"]
	path = vim/.vim/pack/bundle/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vim/.vim/pack/bundle/start/asyncomplete-lsp.vim"]
	path = vim/.vim/pack/bundle/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/.vim/pack/bundle/start/asyncomplete-file.vim"]
	path = vim/.vim/pack/bundle/start/asyncomplete-file.vim
	url = https://github.com/prabirshrestha/asyncomplete-file.vim.git
[submodule "vim/.vim/pack/bundle/start/asyncomplete-omni.vim"]
	path = vim/.vim/pack/bundle/start/asyncomplete-omni.vim
	url = https://github.com/yami-beta/asyncomplete-omni.vim.git
[submodule "vim/.vim/pack/bundle/start/vim-emoji-ab"]
	path = vim/.vim/pack/bundle/start/vim-emoji-ab
	url = https://gitlab.com/gi1242/vim-emoji-ab.git
[submodule "vim/.vim/pack/bundle/start/vim-vsnip"]
	path = vim/.vim/pack/bundle/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "vim/.vim/pack/bundle/start/vim-vsnip-integ"]
	path = vim/.vim/pack/bundle/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
