[color]
	ui = auto
	excludesfile = ~/.gitignore
[diff]
	algorithm = histogram
	renames = copies
	tool = vimdiff
[difftool]
	prompt = false
[mergetool]
	prompt = false
[push]
	default = simple
[gpg]
	program = gpg2
[user]
	signingkey = 85E21985
	name = John Schug
	email = john.ips.schug@gmail.com
[alias]
	amend = "commit --amend -C HEAD"
	snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
	assume = "update-index --assume-unchanged -- "
	unassume = "update-index --no-assume-unchanged -- "
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	tree-log = "log --graph --decorate --oneline"
[include]
	path = ~/.gitconfig.local
