set ignorecase
set incsearch
set matchpairs+=<:>,[:]
set number
set relativenumber
set scrolloff=5
set showmode
set sidescroll=1
set sidescrolloff=10
set smartcase
set surround
set wrapscan

vnoremap ae gg0oG$

vnoremap gc :action CommentByLineComment<CR>
nnoremap gcc :action CommentByLineComment<CR>

nnoremap [b :prev<CR>
nnoremap ]b :next<CR>
nnoremap [B :first<CR>
nnoremap ]B :last<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap <C-P> :action GotoFile<CR>

nnoremap <Leader>sv :source ~/.ideavimrc<CR>
nnoremap <Leader>ev :vsplit ~/.ideavimrc<CR>
