[alias]
	aliases = config --get-regexp alias
	amend = commit --amend -C HEAD
	assume = update-index --assume-unchanged --
	assumed = !git ls-files -v | grep ^h | cut -c 3-
	br = branch -av
	clog = log --pretty=compact
	compact-log = log --pretty=compact
	dump = cat-file -p
	ignore = !>>"$(git rev-parse --absolute-git-dir)/info/exclude echo"
	pushf = push --force-with-lease
	st = status
	tlog = log --pretty=compact --graph
	tree-log = log --pretty=compact --graph
	type = cat-file -t
	unassume = update-index --no-assume-unchanged --
[blame]
	date = auto:human-local
[branch]
	sort = -committerdate
[color]
	ui = auto
[column]
	ui = auto,dense
[checkout]
	workers = 0
[commit]
	verbose = true
{{- if eq .chezmoi.os "windows" }}
	template = ~/AppData/Local/git/commit-template
{{- else }}
	template = ~/.config/git/commit-template
{{- end }}
[core]
	autocrlf = input
	editor = nvim
	untrackedCache = true
{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
{{- if eq .chezmoi.os "linux" }}
[credential]
	helper = libsecret
{{- end }}
[diff]
	algorithm = histogram
	colorMoved = true
	compactionHeuristic = true
	mnemonicPrefix = true
	renames = copies
	submodule = log
	tool = nvimdiff
[difftool]
	prompt = false
[feature]
	manyFiles = true
[fetch]
	all = true
	output = compact
	parallel = 0
	prune = true
[format]
	pretty = format:%C(auto)%h %G?%d %C(bold blue)%aN <%aE> %Cgreen(%ah)%C(auto):%n%w(0,4,4)%B
[gpg]
{{- if eq .chezmoi.os "windows" }}
	program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
{{- else }}
	program = gpg2
{{- end }}
[help]
	autoCorrect = prompt
[init]
	defaultBranch = main
[log]
	decorate = auto
	follow = true
	mailmap = true
	date = auto:human
[merge]
	conflictStyle = zdiff3
	tool = nvimdiff
[mergetool]
	prompt = false
	trustExitCode = true
[pretty]
	compact = tformat:%C(auto)%h %G?%d %C(bold blue)%aN %Cgreen(%ah)%C(auto): %s
[protocol]
	version = 2
[pull]
	ff = only
[push]
	autoSetupRemote = true
	followTags = true
	recurseSubmodules = on-demand
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[status]
	short = true
	showStash = true
	submoduleSummary = true
[submodule]
	fetchJobs = 0
[tag]
	sort = taggerdate
[url "https://gist.github.com/"]
	insteadOf = gist:
[url "https://github.com/"]
	insteadOf = gh:
[url "git@github.com:"]
	pushInsteadOf = gh:
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[url "https://codeberg.org/"]
	insteadOf = cb:
[url "git@codeberg.org:"]
	pushInsteadOf = cb:
	pushInsteadOf = git://codeberg.org/
	pushInsteadOf = https://codeberg.org/
[url "https://bitbucket.org/"]
	insteadOf = bb:
[url "git@bitbucket.org:"]
	pushInsteadOf = bb:
	pushInsteadOf = git://bitbucket.org/
	pushInsteadOf = https://bitbucket.org/
[url "https://anongit.kde.org/"]
	insteadOf = kde:
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
	pushInsteadOf = https://anongit.kde.org/
[user]
	email = me@jschug.dev
	name = John Schug
	signingkey = A7D81D8297B90E18
[include]
{{- if eq .chezmoi.os "windows" }}
	template = ~/AppData/Local/git/local.conf
{{- else }}
	path = ~/.config/git/local.conf
{{- end }}
